
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Google Maps Place Autocomplete</title>
    <style>
        /* Set the size of the map */
        #map {
            height: 250px;
            width: 250px;
        }
        /* Style the input field */
        #pac-input {
            margin-top: 10px;
            width: 300px;
            padding: 5px;
            font-size: 14px;
        }
    </style>
    <!-- the geoloc -->
    <script src="assets/js/goe.js"></script>
</head>
<body>
    <input id="pac-input" type="text" placeholder="Search for a place">
    <div id="map"></div>
 
    <!-- Load the Google Maps JavaScript API with the Places library -->
 
     <script async defer
        src="https://maps.gomaps.pro/maps/api/js?key=AlzaSyeYasnD_lrhV0y7QH7eE-n84BT-ZG7jp2z&libraries=geometry,places&callback=initMap">
    </script>
    <!-- <script async defer
    src="./gogleplaces2.js">
</script> -->
    
</body>
</html>