<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>

  <!-- template styles -->
		<link rel="stylesheet" href="../css/style.css" />
		<link rel="stylesheet" href="../css/responsive.css" />
		<link rel="stylesheet" href="../css/style-2.css" />
</head>
<body>
  <!-- Start Preloader -->
		<div class="loader-wrap">
			<div class="preloader">
				<div class="preloader-close">x</div>
				<div id="handle-preloader" class="handle-preloader">
					<div class="animation-preloader">
						<div class="spinner"></div>
						<div class="txt-loading">
							<span data-text-preloader="A" class="letters-loading"> A </span>
							<span data-text-preloader="G" class="letters-loading"> G </span>
							<span data-text-preloader="R" class="letters-loading"> R </span>
							<span data-text-preloader="I" class="letters-loading"> I </span>
							<span data-text-preloader="G" class="letters-loading"> G </span>
							<span data-text-preloader="O" class="letters-loading"> O </span>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- End Preloader -->

    <!-- Template js -->
		<script src="../js/custom.js"></script>
</body>
</html>